@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4c531 ;
}
.Body {
    background: url("assests/—Pngtree—pile of social media emoji_1608042.png") no-repeat;
    background-size: cover;
    
}
.game-cover {
    background: url("assests/emoji background.png") no-repeat;
    background-size: cover;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.play {
    width: 200px;
    margin-top: 41%;
    
}
input {
    margin: 20px;
    width: 130px;
    background-color:rgb(246, 176, 192);
    border-radius: 20%;
    color: white;
    padding: 10px;
    position:relative;
    left: 5%;
}
.profile{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    left: 130%;
    top:150px;
}

button {
    padding: 10px 10px;
    font-size: 1em;
    border: none;
    background-color: #f4c531;
    color: white;
    font-weight: 200px;
    border-radius: 40px;
    cursor: pointer;
    left: 200px;
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:600px) {
    h1 {
        font-size: 52px;
        -webkit-text-stroke: 2px white;
    }

    h3 {
        font-size: 25px;
    }

    #message {
        font-size: 35px;
    }
}